<h1><img src="../assets/images/logo.svg" alt="spliter"></h1>
<section class="card">
  <form class="card-calculator">
    <div class="calculator-sections">
      <label class="calculator-titles" for="bill">Bill</label>
      <input class="calculator-inputs" type="number" name="bill" id="bill" placeholder="0 ">
    </div>
    <div class="calculator-sections">
      <label for="custom" class="calculator-titles">Select Tip %</label>
      <div class="calculator-buttons">
        <button class="button">5%</button>
        <button class="button">10%</button>
        <button class="button">25%</button>
        <button class="button">15%</button>
        <button class="button">50%</button>
        <input class="button" type="number" placeholder="Custom">
      </div>

    </div>
    <div class="calculator-sections">
      <label for="people" class="calculator-titles">Number of People</label>
      <input class="calculator-inputs" type="number" name="people" id="people" placeholder="0 ">
    </div>
  </form>
  <div class="card-results">
    <div>
      <p>Tip Amount</p>
      <p>/ person</p>
      <div><span>$ 0.00</span></div>
    </div>
    <div>
      <p>Total</p>
      <p>/ person</p>
      <div><span>$ 0.00</span></div>
    </div>
  </div>
</section>
