@mixin calculator-title {
  font-weight  : $font-weight;
  margin-bottom: 10px;
  color        : $grayish-cyan;
}

@mixin calculator-input {
  font-family     : 'Overpass', sans-serif;
  text-align      : right;
  font-size       : 1.8rem;
  padding         : 5px 20px;
  color           : $very-dark-cyan;
  font-weight     : $font-weight;
  margin-bottom   : 10px;
  border          : none;
  border-radius   : 5px;
  background-color: $very-light-grayish-cyan;

  &::placeholder {
    color: $grayish-cyan;
  }
}

@mixin calculator-section {
  display       : flex;
  flex-direction: column;
  margin-bottom : 20px;
}

@mixin calculator-button {
}
